.maindiv {
    width: 1920px;
    height: 1080px;
    display: flex;
}
.leftdiv {
    width: 923px;
}
.leftdiv img  {
    position: absolute;
    width: 923px;
    height: 996px;
    left: 0px;
    top: 84px;
}
.rightdiv {
    position: absolute;
    width: 997px;
    height: 1080px;
    left: 923px;
    top: 0px;
    background-color: #FD5334;
}
.rightdivtext h2 {
    position: absolute;
    width: 496px;
    height: 109px;
    left: 200px;
    top: 265px;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 109px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.rightdivtext h4 {
    position: absolute;
    width: 136px;
    height: 27px;
    left: 700px;
    top: 300px;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-transform: uppercase;
    color: #212529;
}
.rightdiv h3 {
    position: absolute;
    width: 600px;
    height: 109px;
    left: 150px;
    top: 350px;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 109px;
    text-transform: uppercase;
    color: #FFFFFF;
    
}
.rightdiv button {
    position: absolute;
    width: 191px;
    height: 53px;
    left: 100px;
    top: 601px;
    background: #212529;
    border-radius: 8px;
    display: flex;
    padding: 10px;
}
.rightdiv button img {
    width: 24px;
    height: 24px;
}
.rightdiv button p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-transform: capitalize;
    width: 167px;
    height: 27px;
    color: #FFFFFF;
}