.maindivheader {
    width: 923px;
    height: 84px;
    background: #7025FB;
    display: flex;
    display: flex;
    align-items: center;
}
.parentdivheader {
    display: flex;
    align-items: center;
    position: relative;
    text-align: center;
    
}
.parentdivheader h1 {
    position: absolute;
    width: 252.82px;
    height: 23.35px;
    left: 60px;
    top: -6px;
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.parentdivheader img {
    position: absolute;
    width: 15px;
    height: 18px;
    color: #FFFFFF;
    top: 0px;
    left: 50px;
}

