.maindivheader {
    width: 923px;
    height: 84px;
    background: #7025FB;
    display: flex;
    align-items: center;
}
.parentdivheader {
    display: flex;
    align-items: center;
    position: relative;
    text-align: center;
    
}
.parentdivheader h1 {
    position: absolute;
    width: 252.82px;
    height: 23.35px;
    left: 22.93px;
    top: 0px;
    color: #FFFFFF;
    
}
.parentdivheader img {
    position: absolute;
    width: 15px;
    height: 18px;
    color: #FFFFFF;
    top: 0px;
    left: 50px;

    
}
